@mixin add-gradient-bg-container1 {
<<<<<<< HEAD
	background: #092756;
	background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);
	/* 
	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%); */
=======
	background: #353652;
>>>>>>> master
	background: radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
}

@mixin add-gradient-bg-container2 {
<<<<<<< HEAD
	background: #467A39;
	background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.3) 10%,rgba(138,114,76,0.2) 60%), -moz-linear-gradient(to bottom,  rgba(57,173,219,.25) 5%,rgba(70, 122, 57,.4) 100%), -moz-linear-gradient(135deg,  #467A39 0%,#F9F5BA 100%);
	/*
	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.3) 10%,rgba(138,114,76,0.2) 60%), -webkit-linear-gradient(to bottom,  rgba(57,173,219,.25) 5%,rgba(70, 122, 57,.4) 100%), -webkit-linear-gradient(135deg,  #467A39 0%,#F9F5BA 100%);
	background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.3) 10%,rgba(138,114,76,0.2) 60%), -o-linear-gradient(to bottom,  rgba(57,173,219,.25) 5%,rgba(70, 122, 57,.4) 100%), -o-linear-gradient(135deg,  #467A39 0%,#F9F5BA 100%);
	background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.3) 10%,rgba(138,114,76,0.2) 60%), -ms-linear-gradient(to bottom,  rgba(57,173,219,.25) 5%,rgba(70, 122, 57,.4) 100%), -ms-linear-gradient(135deg,  #467A39 0%,#F9F5BA 100%); */
=======
	background: #557d58;
>>>>>>> master
	background: radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.3) 10%,rgba(138,114,76,0.2) 60%), linear-gradient(to bottom,  rgba(57,173,219,.25) 5%,rgba(70, 122, 57,.4) 100%), linear-gradient(135deg,  #467A39 0%,#F9F5BA 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#467A39', endColorstr='#F9F5BA',GradientType=1 );
}


@mixin add-gradient-bg-container3 {
<<<<<<< HEAD
	background: #FFA331;
	background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(204,48,39,.6) 10%,rgba(138,114,76,0.2) 60%), -moz-linear-gradient(to bottom,  rgba(57,173,219,.25) 5%,rgba(255,163,49,.4) 100%), -moz-linear-gradient(135deg,  #CC3027 0%,#FFA331 100%);
	/*
	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(204,48,39,.6) 10%,rgba(138,114,76,0.2) 60%), -webkit-linear-gradient(to bottom,  rgba(57,173,219,.25) 5%,rgba(255,163,49,.4) 100%), -webkit-linear-gradient(135deg,  #CC3027 0%,#FFA331 100%);
	background: -o-radial-gradient(0% 100%, ellipse cover, rgba(204,48,39,.6) 10%,rgba(138,114,76,0.2) 60%), -o-linear-gradient(to bottom,  rgba(57,173,219,.25) 5%,rgba(255,163,49,.4) 100%), -o-linear-gradient(135deg,  #CC3027 0%,#FFA331 100%);
	background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(204,48,39,.6) 10%,rgba(138,114,76,0.2) 60%), -ms-linear-gradient(to bottom,  rgba(57,173,219,.25) 5%,rgba(255,163,49,.4) 100%), -ms-linear-gradient(135deg,  #CC3027 0%,#FFA331 100%); */
=======
	background: #B45B44;
>>>>>>> master
	background: radial-gradient(0% 100%, ellipse cover, rgba(204,48,39,.6) 10%,rgba(138,114,76,0.2) 60%), linear-gradient(to bottom,  rgba(57,173,219,.25) 5%,rgba(255,163,49,.4) 100%), linear-gradient(135deg,  #CC3027 0%,#FFA331 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CC3027', endColorstr='#FFA331',GradientType=1 );
}